mixin script(path)
    script(src="/public/js/" + path + '.js')

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= project
        link(href="/public/css/style.css", rel="stylesheet")
        
        +script("lib/d3.v4.min")
        +script("lib/jquery-3.2.1.min")

    body
        h1.display.killed
        h1.display.covered
        svg
            g#visualization
            g#control-panel
        
        +script("core/signals")
        +script("core/input")
        +script("core/panel")
        +script("core/controller")

        +script("input/keyboard")
        +script("input/midi")
        +script("input/nanokontrol")

        +script("visualization/packing")

        script.
            const CONTROL_PANEL_WIDTH = 100;
            const PADDING = 10;

            d3.select('svg')
                .attr('width', window.innerWidth - PADDING)
                .attr('height', window.innerHeight - PADDING);

            const container = d3.select('#canvas');
        
        if keyboard
            script.
                const input = new KeyboardInput();
        else
            script.
                const input = new MIDIInput();
        script.
            const panelOptions =  {
                left: 0,
                top: 0,
                width: CONTROL_PANEL_WIDTH,
                height: window.innerHeight
            };
        
        unless full_panel
            script.
                panelOptions.show_labels = false;
                panelOptions.show_knobs = false;
                panelOptions.slider_height = 150;
        
        script.
            const app = new Controller(
                            "#{project}",
                            new PackingVisualization(d3.select('#visualization'), {
                                left: CONTROL_PANEL_WIDTH,
                                top: 0,
                                width: window.innerWidth - CONTROL_PANEL_WIDTH,
                                height: window.innerHeight
                            }), 
                            new InputPanel(d3.select('#control-panel'), panelOptions), 
                            input);
