.mutants-covered { fill: rgb(0, 107, 174); }

.mutants-killed { fill: rgb(0, 148, 255); }

.assertions-input { fill: rgb(255, 91, 1); }

.tests-input { fill: rgb(115, 197, 253); }

circle.placeholder { fill: gray; r:1; }

.placeholder { fill: #f3f3f3; }

circle.killed {
  fill: green; r: 3;
}

circle.covered {
  fill: rgb(0, 107, 174); r: 2;
}

circle.not-covered {
  fill: yellow;
}

circle.class {
  stroke: lightcoral;
  stroke-width: 1px;
  fill: transparent;
}

circle.method {
  stroke: lightblue;
  stroke-width: 1px;
  fill: transparent;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  /* width: 100%; */
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}